﻿@using Abp.Extensions
@using TIBS.Concurus.Web.Areas.Mpa.Models.Common.Modals
@model TIBS.Concurus.Web.Areas.Mpa.Models.Languages.EditTextModalViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(@L("EditText")))

<div class="modal-body">
    <form name="EditLanguageTextForm" role="form" novalidate class="form-validation">

        <input type="hidden" name="SourceName" value="@Model.SourceName" />
        <input type="hidden" name="LanguageName" value="@Model.TargetLanguage.Name" />
        <input type="hidden" name="Key" value="@Model.Key" />

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <textarea readonly class="form-control edited" rows="4">@Model.BaseText</textarea>
            <label><i class="@Model.BaseLanguage.Icon"></i> @Model.BaseLanguage.DisplayName </label>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <textarea name="Value" auto-focus class="form-control @(Model.TargetText.IsNullOrEmpty() ? "" : "edited")" rows="4">@Model.TargetText</textarea>
            <label><i class="@Model.TargetLanguage.Icon"></i> @Model.TargetLanguage.DisplayName </label>
        </div>

    </form>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
