﻿@using TIBS.Concurus;
<div>
    <form name="createPersonForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.projectrole.id" style="color:WindowFrame; font-size:large; font:bold;font-weight:600">@L("EditProjectRole"): <a style="color:#0079CC"> {{vm.projectrole.pRoleName}}</a></span>
                <span ng-if="!vm.projectrole.id" style="color:#0079CC; font-size:large; font:bold;font-weight:600">@L("CreateProjectRole")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" ng-class="{'edited':vm.projectrole.pRoleName}" ng-model="vm.projectrole.pRoleName">
                <label>@L("ProjectRoleName")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="text" class="form-control" ng-class="{'edited':vm.projectrole.pRoleCode}" ng-model="vm.projectrole.pRoleCode">
                <label>@L("ProjectRoleCode")</label>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>