﻿@using TIBS.Concurus.Web.Areas.Mpa.Models.Common.Modals
@model TIBS.Concurus.Web.Areas.Mpa.Models.Profile.MySettingsViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("MySettings")))

<div class="modal-body">
    <form name="MySettingsModalForm">
        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input class="form-control edited" type="text" name="Name" value="@Model.Name" required maxlength="@TIBS.Concurus.Authorization.Users.User.MaxNameLength">
            <label>@L("Name")</label>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input type="text" name="Surname" class="form-control edited" value="@Model.Surname" required maxlength="@TIBS.Concurus.Authorization.Users.User.MaxSurnameLength">
            <label>@L("Surname")</label>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input type="email" name="EmailAddress" class="form-control edited" value="@Model.EmailAddress" required maxlength="@TIBS.Concurus.Authorization.Users.User.MaxEmailAddressLength">
            <label>@L("EmailAddress")</label>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label">
            <input type="text" @Html.Raw(!Model.CanChangeUserName ? "disabled=\"disabled\"" : "") class="form-control edited" value="@Model.UserName" name="UserName" required maxlength="@TIBS.Concurus.Authorization.Users.User.MaxUserNameLength">
            <label>@L("UserName")</label>
            @if (!Model.CanChangeUserName)
            {
                <span class="help-block">@L("CanNotChangeAdminUserName")</span>
            }
        </div>
    </form>
</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
