﻿@using TIBS.Concurus
<div>
    <form name="createPersonForm" role="form" novalidate class="form-validation">

        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.Company.id" style="color:WindowFrame; font-size:large; font:bold;font-weight:600">@L("EditCompany"):<a style="color:#0079CC">{{vm.Company.name}}</a></span>
                <span ng-if="!vm.Company.id" style="color:#0079CC; font-size:large; font:bold;font-weight:600">@L("CreateNewCompany")</span>
            </h4>
        </div>
        <div class="modal-body">
            <tabset class="tab-container tabbable-line">
                <tab>
                    
                        <tab-heading style="color: #217ebd;">
                            <i class="fa fa-info-circle"></i>
                            company
                        </tab-heading>
                    <div class="portlet light">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="CompanyCode" class="form-control" ng-class="{'edited':vm.Company.name}" ng-model="vm.Company.name">
                            <label>@L("CompanyName")</label>
                        </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <input class="form-control" type="text" name="CompanyName" ng-class="{'edited':vm.Company.phoneNumber}" ng-model="vm.Company.phoneNumber">
                                        <label>@L("PhoneNumber")</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        @* <label class="cla">@L("Region")</label>*@
                                        @*<div class="claa">*@
                                        <ui-select ng-model="contactType.selected"
                                                   theme="bootstrap"
                                                   ng-disabled="disabled"
                                                   reset-search-input="false"
                                                   style="width: 450px;max-width:100%"
                                                   title="Choose a Contact Type" ng-required="true">
                                            <ui-select-match placeholder="Enter a Contact Type..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.typeName}}</ui-select-match>
                                            <ui-select-choices repeat="contactType in vm.contactType | propsFilter: {typeName: $select.search}">
                                                <div ng-bind-html="contactType.typeName | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        @*</div>*@
                                    </div>
                                </div>
                            </div>

                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="ISDCode" class="form-control" ng-class="{'edited':vm.Company.mailId}" ng-model="vm.Company.mailId">
                            <label>@L("MailId")</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="ISDCode" class="form-control" ng-class="{'edited':vm.Company.website}" ng-model="vm.Company.website">
                            <label>@L("WebSite")</label>

                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="ISDCode" class="form-control" ng-class="{'edited':vm.Company.address}" ng-model="vm.Company.address">
                            <label>@L("Address")</label>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>
                </tab>
                <tab style=" padding: 0px 0!important">
                    <tab-heading style="color: #217ebd;">
                        <i class="fa fa-info-circle"></i>
                        Contact
                    </tab-heading>
                    <div class="portlet light">
                        <div class="portlet-title">

                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="vm.openCreateCompanyContactModal()" href="#" data-original-title="" title="">
                                    <i class="fa fa-plus font-blue"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="#" data-original-title="" title="Export To Excel" ng-click="vm.exportToExcel()">
                                    <i class="fa fa-file-excel-o font-green"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen font-purple-studio" href="#" data-original-title="" title="">
                                </a>
                            </div>
                            <div class="clearfix">
                            </div>
                            <div class="portlet-title">
                                <div class="inputs inputs-full-width">
                                    <div class="portlet-input">
                                        <form>
                                            <div class="input-group">
                                                <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" ng-keydown="vm.getContacts()" ng-keyup="vm.getContacts()">
                                                <span class="input-group-btn">
                                                    <button ng-click="vm.getContacts()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div busy-if="vm.loading">
                                <div ui-grid="vm.ContactGridOptions" ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize></div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>



    </form>
</div>




<style>
    .modal-dialog {
        width: 65% !important;
    }

    .tab-content > .tab-pane,
    .pill-content > .pill-pane {
        display: block !important; /* undo display:none          */
        height: 0 !important; /* height:0 is also invisible */
        overflow-y: hidden !important; /* no-overflow                */
    }

    .tab-content > .active,
    .pill-content > .active {
        height: auto !important; /* let the content decide it  */
    }

    .watermark {
        position: absolute;
        top: 80px;
        opacity: 0.25;
        font-size: 3em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
</style>