﻿<div>
    <form name="createPersonForm" role="form" novalidate class="form-validation">

        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.contact.id" style="color:WindowFrame; font-size:large; font:bold;font-weight:600">@L("EditContact"):<a style="color:#0079CC">{{vm.contact.name}}</a></span>
                <span ng-if="!vm.contact.id" style="color:#0079CC; font-size:large; font:bold;font-weight:600">@L("CreateNewContact")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="text" name="CompanyCode" class="form-control" ng-class="{'edited':vm.contact.contactName}" ng-model="vm.contact.contactName">
                <label>@L("CompanyName")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="CompanyName" ng-class="{'edited':vm.contact.phoneNumber}" ng-model="vm.contact.phoneNumber">
                <label>@L("PhoneNumber")</label>
            </div>


            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="text" name="ISDCode" class="form-control" ng-class="{'edited':vm.contact.mailId}" ng-model="vm.contact.mailId">
                <label>@L("MailId")</label>
            </div>
         
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="text" name="ISDCode" class="form-control" ng-class="{'edited':vm.contact.address}" ng-model="vm.contact.address">
                <label>@L("Address")</label>

            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

