﻿<div ng-controller="tenant.views.AddressBook.Company.index as vm">
    <div class="row margin-bottom-5">
        @*<div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Company")</span>
                    </h1>
                </div>
            </div>
        </div>*@
        @*<div class="col-xs-6 text-right">
            <button class="btn btn-primary blue" ng-click="vm.openCreateCompanyModal()"><i class="fa fa-plus"></i> @L("CreateNewCompany")</button>
        </div>*@
    </div>
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold uppercase font-red-sunglo">@L("Company")</span>
                @*<span class="caption-helper">Details...</span>*@
            </div>
            <div class="actions">
                <a ng-if=" vm.permissions.createCompany" class="btn btn-circle btn-icon-only btn-default" ng-click="vm.openCreateCompanyModal()" href="#" data-original-title="" title="">
                    <i class="fa fa-plus font-blue"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="#" data-original-title="" title="Export To Excel" ng-click="vm.exportToExcel()">
                    <i class="fa fa-file-excel-o font-green"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default fullscreen font-purple-studio" href="#" data-original-title="" title="">
                </a>
            </div>
            <div class="clearfix">
            </div>
            <div class="portlet-title">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input">
                        <form>
                            <div class="input-group">
                                <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" ng-keydown="vm.getCompany()" ng-keyup="vm.getCompany()">
                                <span class="input-group-btn">
                                    <button ng-click="vm.getCompany()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.CompanyGridOptions" ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize></div>
            </div>
        </div>
    </div>
</div>