﻿@using TIBS.Concurus;
<div>
    <form name="createPersonForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <div class="actions" style="float:right">
                <a class="btn btn-circle btn-icon-only btn-default" ng-click="vm.openCreateProjectTeamMember()" href="#" data-original-title="" title="Create Project Role">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <h4 class="modal-title">
                <span style="color:WindowFrame; font-size:large; font:bold;font-weight:600">@L("EditTeam"): <a style="color:#0079CC"> {{vm.projectName}}</a></span>

            </h4>
          

        </div>
        <div class="modal-body">

            <div class="md-checkbox-list">

                <div class="md-checkbox" ng-repeat="employee in vm.employees">
                    <input id="EditUser_{{employee.emoloyeeName}}" class="md-check" type="checkbox" name="{{employee.emoloyeeName}}" ng-model="employee.isAssigned">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="EditUser_{{employee.emoloyeeName}}">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        <button ng-disabled="{{!employee.isAssigned}}" class="btn btn-default btn-xs" ng-click="vm.deleteProjectTeamMember(employee.id)"><i class="fa fa-trash-o font-red"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="{{employee.photoPath}}" class="img-circle" style="height:25px;width:25px" />
                        {{employee.emoloyeeName}}&nbsp;&nbsp;&nbsp;&nbsp;
                        {{employee.roleName}}
                    </label>

                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
           
        </div>
    </form>
</div>