﻿@using TIBS.Concurus
<div>
    <div class="portlet-body">
        <form name="createPersonForm" role="form" novalidate class="form-validation">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span style="text-align:center;">Add Project For Project Team</span>

                </h4>

            </div>
    <div class="portlet light">





        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            @* <label class="cla">@L("Region")</label>*@
            @*<div class="claa">*@
            <ui-select ng-model="company.selected"
                       theme="bootstrap"
                       ng-disabled="disabled"
                       reset-search-input="false"
                       style="width: 450px;max-width:100%"
                       title="Choose a Project" ng-required="true">
                <ui-select-match placeholder="Enter a Project..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.companyName}}</ui-select-match>
                <ui-select-choices repeat="company in vm.company | propsFilter: {companyName: $select.search}">
                    <div ng-bind-html="company.companyName | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            @*</div>*@
        </div>



        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>

        </div>
    </div>
    </form>
</div>
    
</div>


<style type="text/css">
    .cla {
        display: block;
        color: #999;
        font-size: 16px;
    }

    .claa {
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
    }

    

    .ui-grid-cell.ng-scope.ui-grid-coluiGrid-0CX.text-muted {
        text-align: center !important;
    }

    .md-checkbox.ng-scope {
        display: inline !important;
    }
</style>
