﻿@using TIBS.Concurus
<div>
    <div class="portlet-body">
        <form name="createPersonForm" role="form" novalidate class="form-validation">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span style="text-align:center;">Add Employee For ProjectTeam</span>

                </h4>

            </div>
            <div class="portlet light">





                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                     <label class="cla">@L("Employee")</label>
                   
                    <ui-select ng-model="employee.selected"
                               theme="bootstrap"
                               ng-disabled="disabled"
                               reset-search-input="false"
                               style="width: 450px;max-width:100%"
                               title="Choose a Emoloyee" ng-required="true">
                        <ui-select-match placeholder="Enter a Emoloyee..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.emoloyeeName}}</ui-select-match>
                        <ui-select-choices repeat="employee in vm.employee | propsFilter: {emoloyeeName: $select.search}">
                            <div ng-bind-html="employee.emoloyeeName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                   
                </div>
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label class="cla">@L("ProjectRole")</label>

                    <ui-select ng-model="projectRole.selected"
                               theme="bootstrap"
                               ng-disabled="disabled"
                               reset-search-input="false"
                               style="width: 450px;max-width:100%"
                               title="Choose a ProjectRole" ng-required="true">
                        <ui-select-match placeholder="Enter a ProjectRole..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.projectRoleName}}</ui-select-match>
                        <ui-select-choices repeat="projectRole in vm.projectRole | propsFilter: {projectRoleName: $select.search}">
                            <div ng-bind-html="projectRole.projectRoleName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                </div>



                <div class="modal-footer">
                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>

                </div>
            </div>
        </form>
    </div>

</div>


<style type="text/css">
    .cla {
        display: block;
        color: #999;
        font-size: 16px;
    }

    .claa {
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
    }



  

    .md-checkbox.ng-scope {
        display: inline !important;
    }
</style>
