@using TIBS.Concurus.Localization
<div ng-controller="host.views.editions.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Editions")</span> <small>@L("EditionsHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createEdition()"><i class="fa fa-plus"></i> @L("CreateNewEdition")</button>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.editionGridOptions" ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>