﻿@using Abp.Web.Mvc.Extensions
@using TIBS.Concurus.Authorization
@using TIBS.Concurus.Web.Navigation
@{
    ViewBag.CurrentPageName = PageNames.App.Common.Roles;
}
@section Styles
{
    @Html.IncludeStyle("~/Areas/Mpa/Views/Roles/Index.min.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Common/_PermissionTree.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Roles/_CreateOrEditModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Roles/Index.js")
}
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Roles")</span> <small>@L("RolesHeaderInfo")</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        @if (IsGranted(AppPermissions.Pages_Administration_Roles_Create))
        {
            <button id="CreateNewRoleButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewRole")</button>
        }
    </div>
</div>

<div class="portlet light">
    <div class="portlet-body">
        <div id="RolesTable"></div>
    </div>
</div>
