﻿@using TIBS.Concurus.Countryy
<div>
    <form name="createPersonForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.country.id" style="color:WindowFrame; font-size:large; font:bold;font-weight:600">@L("EditCountry"):<a style="color:#0079CC">{{vm.country.countryName}}</a></span>
                <span ng-if="!vm.country.id" style="color:#0079CC; font-size:large; font:bold;font-weight:600">@L("CreateNewCountry")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="text" name="CountryCode" class="form-control" ng-class="{'edited':vm.country.countryCode}" ng-model="vm.country.countryCode" required maxlength="@Country.CodeLength">
                <label>@L("CountryCode")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="CountryName" ng-class="{'edited':vm.country.countryName}" ng-model="vm.country.countryName" required maxlength="@Country.NameLength">
                <label>@L("CountryName")</label>
            </div>
            

            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="text" name="ISDCode" class="form-control" ng-class="{'edited':vm.country.isdCode}"  ng-model="vm.country.isdCode" maxlength="@Country.ISDLength">
                <label>@L("ISDCode")</label>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>