﻿@using TIBS.Concurus
<div ng-controller="tenant.views.user.createEmployee as vm">
    <div class="portlet-body">
        <form name="createPersonForm" role="form" novalidate class="form-validation">
            <div class="portlet light">
                <div class="portlet-title">
                    <h4 class="modal-title">
                        <span class="caption-subject bold uppercase font-red-sunglo">@L("CreateEmployee")</span>
                    </h4>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="row">
                            <div class="col-md-6 text-center" style="height:200px">
                                <img src="~/Common/Images/default-profile-picture.png" style="height:175px" class="img-thumbnail user-edit-dialog-profile-image" />
                            </div>
                            <div class="col-md-6 text-left">
                                <div>
                                    <h3 class="modal-title ">
                                        <span>@L("ChangeProfilePicture")</span>
                                    </h3>
                                </div>
                                <span> </span>
                                <div>
                                    <input type="file" nv-file-select uploader="vm.uploader" />
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input class="form-control" type="employeeCode" name="Name" ng-class="{'edited':vm.employee.firstName}" ng-model="vm.employee.firstName">
                            <label text-centre>@L("FirstName")</label>
                        </div>

                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="employeeName" class="form-control" ng-class="{'edited':vm.employee.lastName}" ng-model="vm.employee.lastName">
                            <label>@L("LastName")</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="employeeCode" class="form-control" ng-class="{'edited':vm.employee.age}" ng-model="vm.employee.age">
                            <label>@L("Age")</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label>@L("Sex")</label>
                                <select class="form-control" id="Sex" placeholder="Sex" name="Sex" style="width: 200% !important; height: 30px" ng-model="vm.sex">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            </div>
                        </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="employeeCode" class="form-control" ng-class="{'edited':vm.employee.rateForHour}" ng-model="vm.employee.rateForHour">
                            <label>@L("RateForHour")</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="inputs inputs-full-width">
                            <label>@L("BirthDate")</label>
                            <div class="input-group">
                                <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="vm.dates.date1" is-open="vm.open.date1" enable-time="false" datepicker-options="vm.dateOptions" date-disabled="vm.disabled(date, mode)" close-on-date-selection="false" datepicker-append-to-body="true" clear-text="Remove" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn default" ng-click="vm.openCalendar($event, 'date1')"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inputs inputs-full-width">
                            <label>@L("HireDate")</label>
                            <div class="input-group">
                                <input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="vm.dates.date2" is-open="vm.open.date2" enable-time="false" datepicker-options="vm.dateOptions" date-disabled="vm.disabled(date, mode)" close-on-date-selection="false" datepicker-append-to-body="true" clear-text="Remove" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn default" ng-click="vm.openCalendar($event, 'date2')"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="employeeCode" class="form-control" ng-class="{'edited':vm.employee.address}" ng-model="vm.employee.address">
                            <label>@L("Address")</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            @* <label class="cla">@L("Region")</label>*@
                            @*<div class="claa">*@
                            <ui-select ng-model="location.selected"
                                       theme="bootstrap"
                                       ng-disabled="disabled"
                                       reset-search-input="false"
                                       style="width: 450px;max-width:100%"
                                       title="Choose a Location" ng-required="true">
                                <ui-select-match placeholder="Enter a Location..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.locationName}}</ui-select-match>
                                <ui-select-choices repeat="location in vm.location | propsFilter: {locationName: $select.search}">
                                    <div ng-bind-html="location.locationName | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            @*</div>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="employeeCode" class="form-control" ng-class="{'edited':vm.employee.email}" ng-model="vm.employee.email">
                            <label>@L("Email")</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input class="form-control" type="text" name="employeeName" ng-class="{'edited':vm.employee.phoneNo}" ng-model="vm.employee.phoneNo">
                            <label>@L("PhoneNo")</label>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                </div>
            </div>
                </div>
</form>
    </div>
</div>

<style type="text/css">
    .cla {
        display: block;
        color: #999;
        font-size: 16px;
    }

    .claa {
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
    }

    .modal-dialog {
        width: 75% !important;
    }

    .ui-grid-cell.ng-scope.ui-grid-coluiGrid-0CX.text-muted {
        text-align: center !important;
    }

    .md-checkbox.ng-scope {
        display: inline !important;
    }
</style>
