@using TIBS.Concurus.Cityy;
@using TIBS.Concurus;
<div>
    <form name="createPersonForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.city.id" style="color:WindowFrame; font-size:large; font:bold;font-weight:600">@L("EditCity"):<a style="color:#0079CC">{{vm.city.cityName}}</a></span>
                <span ng-if="!vm.city.id" style="color:#0079CC; font-size:large; font:bold;font-weight:600">@L("CreateNewCity")</span>
            </h4>
        </div>
        <div class="modal-body">

            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="text" name="CityCode" class="form-control" ng-class="{'edited':vm.city.cityCode}" ng-model="vm.city.cityCode" required maxlength="@City.CodeLength">
                <label>@L("CityCode")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="CityName" ng-class="{'edited':vm.city.cityName}" ng-model="vm.city.cityName" required maxlength="@City.NameLength">
                <label>@L("CityName")</label>
            </div>

            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label class="cla">@L("Country")</label>
                <div class="claa">

                    <ui-select ng-model="country.selected" theme="select2" ng-disabled="disabled" style="min-width: 300px;" title="Choose a Country" ng-required="true">
                        <ui-select-match placeholder="Select a Country in the list or search it's' name...">{{$select.selected.countryName}}</ui-select-match>
                        <ui-select-choices repeat="country in vm.country | propsFilter: {countryName: $select.search}">
                            <div ng-bind-html="country.countryName | highlight: $select.search"></div>

                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
            </div>


</form>
</div>

<style type="text/css">
    .cla {
        display: block;
        color: #999;
        font-size: 16px;
    }

    .claa {
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
    }
</style>