<div>
    <form name="mySettingsForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("ChangePassword")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="password" name="CurrentPassword" class="form-control" ng-model="vm.passwordInfo.currentPassword" required maxlength="@TIBS.Concurus.Authorization.Users.User.MaxPlainPasswordLength">
                <label>@L("CurrentPassword")</label>
                <span class="help-block">@Html.Raw(L("PasswordChangeDontRememberMessage", "<a href=\"" + Url.Action("ForgotPassword", "Account") + "\">" + L("ClickHere") + "</a>"))</span>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="password" name="NewPassword" class="form-control" ng-model="vm.passwordInfo.newPassword" required maxlength="@TIBS.Concurus.Authorization.Users.User.MaxPlainPasswordLength" ng-minlength="@TIBS.Concurus.Authorization.Users.User.MinPlainPasswordLength">
                <label>@L("NewPassword")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="password" name="NewPasswordRepeat" class="form-control" ng-model="vm.passwordInfo.newPasswordRepeat" required maxlength="@TIBS.Concurus.Authorization.Users.User.MaxPlainPasswordLength" ui-validate=" '$value==vm.passwordInfo.newPassword' " ui-validate-watch=" 'vm.passwordInfo.newPassword' " ng-minlength="@TIBS.Concurus.Authorization.Users.User.MinPlainPasswordLength">
                <label>@L("NewPasswordRepeat")</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-disabled="vm.saving" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="mySettingsForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>