﻿@using TIBS.Concurus;
<div>
    <form name="createPersonForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.team.id" style="color:WindowFrame; font-size:large; font:bold;font-weight:600">@L("EditTeam"): <a style="color:#0079CC"> {{vm.team.teamName}}</a></span>
                <span ng-if="!vm.team.id" style="color:#0079CC; font-size:large; font:bold;font-weight:600">@L("CreateNewTeam")</span>
            </h4>

        </div>
        <div class="modal-body">
            <tabset class="tab-container tabbable-line">
                <tab>
                    <tab-heading style="color: #217ebd;">
                        <i class="fa fa-info-circle"></i>
                        @L("TeamDetails")
                    </tab-heading>
                    <div class="modal-body">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" class="form-control" ng-class="{'edited':vm.team.teamCode}" ng-model="vm.team.teamCode">
                            <label>@L("TeamCode")</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input class="form-control" type="text" ng-class="{'edited':vm.team.teamName}" ng-model="vm.team.teamName">
                            <label>@L("TeamName")</label>
                        </div>

                    </div>
                    
                </tab>
                <tab ng-if="vm.team.id">
                    <tab-heading style="color: #217ebd;">
                        <i class="fa fa-user"></i>
                        @L("Employee")
                    </tab-heading>
                    <div class="md-checkbox-list">
                        <div class="md-checkbox" ng-repeat="employee in vm.employees">
                            <input id="EditUser_{{employee.employeeName}}" class="md-check" type="checkbox" name="{{employee.employeeName}}" ng-model="employee.isAssigned">
                            <label for="EditUser_{{employee.employeeName}}">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                {{employee.employeeName}}
                            </label>
                        </div>
                    </div>

                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
</form>
</div>