﻿@using TIBS.Concurus
<div>
    <div class="portlet-body">
        <form name="createPersonForm" role="form" novalidate class="form-validation">
            <div class="portlet light">
                <div class="portlet-title">
                    <h4 class="modal-title">
                        {{vm.employee.firstName}}
                    </h4>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-center">

                        <img ng-if="vm.employee.photoPath" src="{{vm.employee.photoPath}}" width="128" height="178" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                        <img ng-if="!vm.employee.photoPath" src="{{vm.employee.photoPath}}" width="128" height="178" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />

                    </div>
                    <div class="col-sm-8">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input class="form-control" type="employeeCode" name="Name" ng-class="{'edited':vm.employee.firstName}" ng-model="vm.employee.firstName" ng-disabled="true">
                            <label text-centre>@L("FirstName")</label>
                        </div>

                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="employeeName" class="form-control" ng-class="{'edited':vm.employee.lastName}" ng-model="vm.employee.lastName" ng-disabled="true">
                            <label>@L("LastName")</label>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="employeeCode" class="form-control" ng-class="{'edited':vm.employee.sex}" ng-model="vm.employee.sex" ng-disabled="true">
                            <label>@L("Sex")</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="employeeCode" class="form-control" ng-class="{'edited':vm.employee.rateForHour}" ng-model="vm.employee.rateForHour" ng-disabled="true">
                            <label>@L("RateForHour")</label>
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="employeeCode" class="form-control" ng-class="{'edited':vm.employee.address}" ng-model="vm.employee.address" ng-disabled="true">
                            <label>@L("Address")</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="employeeName" class="form-control" ng-class="{'edited':vm.employee.locationName}" ng-model="vm.employee.locationName" ng-disabled="true">
                            <label>@L("Location")</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="employeeCode" class="form-control" ng-class="{'edited':vm.employee.email}" ng-model="vm.employee.email" ng-disabled="true">
                            <label>@L("Email")</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input class="form-control" type="text" name="employeeName" ng-class="{'edited':vm.employee.phoneNo}" ng-model="vm.employee.phoneNo" ng-disabled="true">
                            <label>@L("PhoneNo")</label>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>

                </div>
            </div>
        </form>
    </div>
    
</div>


<style type="text/css">
    .cla {
        display: block;
        color: #999;
        font-size: 16px;
    }

    .claa {
        border-bottom: 1px solid #999;
        padding-bottom: 10px;
    }

    

    .ui-grid-cell.ng-scope.ui-grid-coluiGrid-0CX.text-muted {
        text-align: center !important;
    }

    .md-checkbox.ng-scope {
        display: inline !important;
    }
</style>
