﻿<div ng-controller="tenant.views.team.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span style="color: #0079CC;font-size:xx-large;font:bolder">@L("Team")</span>
                        @*<small>@L("LanguageTextsHeaderInfo")</small>*@
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <small class="caption-subject bold font-red-sunglo">Manage Team and Actions</small>
            </div>
            <div class="actions">
                <a ng-if="vm.permissions.createteam" class="btn btn-circle btn-icon-only btn-default" ng-click="vm.openCreateteam()" href="#" data-original-title="" title="Create Team">
                    <i class="fa fa-plus"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="#" data-original-title="" title="Export To Excel" ng-click="vm.exportToExcel()">
                        <i class="fa fa-file-excel-o"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title="">
                    </a>
</div>
            <div class="clearfix">
            </div>
            <div class="portlet-title">
                <h4>Team ({{vm.Team.length}})</h4>
                <div class="inputs inputs-full-width">
                    <div class="portlet-input">
                        <form>
                            <div class="input-group">
                                <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" ng-keydown="vm.getTeam()" ng-keyup="vm.getTeam()">
                                <span class="input-group-btn">
                                    <button class="btn default" type="submit" ng-click=" vm.getTeam()"><i class="icon-magnifier"></i>@L("Search")</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body">

            <div class="list-group">
                <div class="list-group-item" ng-repeat="team in vm.Team">
                    <h4 class="list-group-item-heading">
                        {{team.teamCode}}
                        <span class="person-buttons">
                            <button ng-click="vm.getTeamMember(team)" title="View Empolyees" class="btn btn-circle btn-icon-only green">
                                <i class="fa fa-user-plus"></i>
                            </button>
                            <button ng-if="vm.permissions.editteam" ng-click="vm.openEditTeam(team)" title="@L("Edit")" class="btn btn-circle btn-icon-only green">
                                <i class="icon-pencil"></i>
                            </button>
                            <button ng-if="vm.permissions.deleteteam" ng-click="vm.deleteTeam(team)" title="@L("Delete")" class="btn btn-circle btn-icon-only red">
                                <i class="icon-trash"></i>
                            </button>
                        </span>
                    </h4>
                    <p class="list-group-item-text">
                        {{team.teamName}}
                    </p>
                    <div class="table-scrollable" ng-if="team==vm.teamMembers">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td style="width:10%"></td>
                                    <th style="width:10%"></th>
                                    <th style="width:15%"></th>
                                    <th style="width:15%">Employee Name</th>
                                    <th style="width:25%">Phone Number</th>
                                    <td style="width:25%">Location</td>
                                    
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="teamemployee in  vm.teamemployees">
                                    <td>
                                        <button ng-click="vm.viewemp(teamemployee)" class="btn btn-sm btn-default">
                                            <i class="fa fa-external-link"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button ng-click="vm.deleteTeamEmployee(teamemployee)" class="btn btn-sm btn-default">
                                            <i class="icon-trash"></i>
                                        </button>
                                    </td>
                                    <td> <img src="{{teamemployee.photoPath}}" style="height: 40px; width: 40px;" class="img-circle"/></td>
                                    <td style="align-content:center;"> {{teamemployee.firstName}}</td>
                                    <td>{{teamemployee.phoneNo}}</td>
                                    <td>{{teamemployee.locationName}}</td>
                                    
                                    

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>

        </div>
    </div>
</div>

    <style type="text/css">
        .person-buttons {
            float: right;
        }
    </style>
