@using Abp.Timing
<!-- BEGIN HEADER -->
<div class="page-header">
    <!-- BEGIN HEADER TOP -->

    <div class="page-header-top">

        <div class="container-fluid">

            <div class="page-logo">
                <a href="~/">
                    <img src="~/App/common/image/concur.png" alt="logo" class="logo-default" style="
    height: 50px;
    width: 150px;
    margin-top: 10px;
" />
                </a>
            </div>
            <div class="page-header-inner">


                <div class="page-top">
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown dropdown-language" ng-if="vm.languages.length > 1">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i ng-class="vm.currentLanguage.icon"></i>
                                    <span class="langname">
                                        {{vm.currentLanguage.displayName}}
                                    </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="language in vm.languages" ng-if="vm.currentLanguage.name !== language.name">
                                        <a ng-click="vm.changeLanguage(language.name)" href="#">
                                            <i ng-class="language.icon"></i> {{language.displayName}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-user dropdown-dark">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <span class="username username-hide-on-mobile">
                                        {{vm.getShownUserName()}}
                                    </span>
                                    <span class="photo">
                                        <img id="HeaderProfilePicture" alt="" class="img-circle" style="width:40px;height:40px" src="@Url.Action("GetProfilePicture", "Profile")?t=@Clock.Now.Ticks.ToString()" />
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="" ng-click="vm.editMySettings()"><i class="icon-settings"></i> @L("MySettings")</a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="vm.changePicture()"><i class="icon-user"></i> @L("ChangeProfilePicture")</a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="vm.changePassword()"><i class="icon-key"></i> @L("ChangePassword")</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("Logout","Account")"><i class="icon-logout"></i> @L("Logout")</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- END HEADER TOP -->
    <!-- BEGIN HEADER MENU -->
    <div class="page-header-menu">
        <div class="container-fluid">

            <div class="hor-menu ">
                <ul class="nav navbar-nav">

                    <li ng-repeat="menuItem in vm.menu.items" ui-sref-active="active" class="menu-dropdown classic-menu-dropdown active">
                        <a ui-sref="{{menuItem.url}}" ng-if="!menuItem.items.length">
                            <i class="{{menuItem.icon}}"></i>
                            <span class="title">{{menuItem.displayName}}</span>
                            
                        </a>
                        <a href="javascript:;" class="auto" ng-if="menuItem.items.length">
                            <i class="{{menuItem.icon}}"></i>
                            <span class="title">{{menuItem.displayName}}</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li ng-repeat="childMenuItem in menuItem.items">
                                <a ui-sref="{{childMenuItem.url}}">
                                    <span><i class="sub-menu-icon {{childMenuItem.icon}}"></i> {{childMenuItem.displayName}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
               

            </div>
            <!-- END MEGA MENU -->
        </div>
    </div>
    <!-- END HEADER MENU -->
</div>
