﻿<div ng-controller="tenant.views.Technology.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span style="color: #0079CC;font-size:xx-large;font:bolder">@L("Technology")</span>
                        @*<small>@L("LanguageTextsHeaderInfo")</small>*@
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <small class="caption-subject bold font-red-sunglo">Manage Technology and Actions</small>
            </div>
            <div class="actions">
                <a ng-if="vm.permissions.createtechnology" class="btn btn-circle btn-icon-only btn-default" ng-click="vm.openCreateTechnology()" href="#" data-original-title="" title="Create Project Role">
                    <i class="fa fa-plus"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="#" data-original-title="" title="Export To Excel" ng-click="vm.exportToExcel()">
                        <i class="fa fa-file-excel-o"></i>
                    </a>
                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title="">
                </a>
            </div>
            <div class="clearfix">
            </div>
            <div class="portlet-title">
                <h4>All Technology ({{vm.Technology.length}})</h4>
                <div class="inputs inputs-full-width">
                    <div class="portlet-input">
                        <form>
                            <div class="input-group">
                                <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" ng-keydown="vm.getTechnology()" ng-keyup="vm.getTechnology()">
                                <span class="input-group-btn">
                                    <button class="btn default" type="submit" ng-click=" vm.getTechnology()"><i class="icon-magnifier"></i>@L("Search")</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body">

            <div class="list-group">
                <div class="list-group-item" ng-repeat="technology in vm.Technology">
                    <h4 class="list-group-item-heading">
                        {{technology.technologyCode}}
                        <span class="person-buttons">
                            <button ng-if="vm.permissions.edittechnology" ng-click="vm.openEditTechnology(technology)" title="@L("Edit")" class="btn btn-circle btn-icon-only green">
                                <i class="icon-pencil"></i>
                            </button>
                            <button ng-if="vm.permissions.deletetechnology" ng-click="vm.deleteTechnology(technology)" title="@L("Delete")" class="btn btn-circle btn-icon-only red">
                                <i class="icon-trash"></i>
                            </button>
                        </span>
                    </h4>
                    <p class="list-group-item-text">
                        {{technology.technologyName}}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<style type="text/css">
    .person-buttons {
        float: right;
    }
</style>
