﻿<div ng-controller="tenant.views.ProjectType.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span style="color: #0079CC;font-size:xx-large;font:bolder">@L("ProjectType")</span>
                        
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <small class="caption-subject bold font-red-sunglo">Manage ProjectType and Actions</small>
            </div>
            <div class="actions">
                <a ng-if="vm.permissions.createProjectType" class="btn btn-circle btn-icon-only btn-default" ng-click="vm.openCreateProjectType()" href="#" data-original-title="" title="Create Project Role">
                    <i class="fa fa-plus"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="#" data-original-title="" title="Export To Excel" ng-click="vm.exportToExcel()">
                        <i class="fa fa-file-excel-o"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title="">
                    </a>
</div>
                <div class="clearfix">
                </div>
                <div class="portlet-title">
                    <h4>All ProjectType ({{vm.ProjectType.length}})</h4>
                    <div class="inputs inputs-full-width">
                        <div class="portlet-input">
                            <form>
                                <div class="input-group">
                                    <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" ng-keydown="vm.getProjectType()" ng-keyup="vm.getProjectType()">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="submit" ng-click=" vm.getProjectType()"><i class="icon-magnifier"></i>@L("Search")</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">

                <div class="list-group">
                    <div class="list-group-item" ng-repeat="ProjectType in vm.ProjectType">
                        <h4 class="list-group-item-heading">
                            {{ProjectType.projectTypeCode}}
                            <span class="person-buttons">
                                <button ng-if="vm.permissions.editProjectType" ng-click="vm.openEditProjectType(ProjectType)" title="@L("Edit")" class="btn btn-circle btn-icon-only green">
                                    <i class="icon-pencil"></i>
                                </button>
                                <button ng-if="vm.permissions.deleteProjectType" ng-click="vm.deleteProjectType(ProjectType)" title="@L("Delete")" class="btn btn-circle btn-icon-only red">
                                    <i class="icon-trash"></i>
                                </button>
                            </span>
                        </h4>
                        <p class="list-group-item-text">
                            {{ProjectType.projectTypeName}}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <style type="text/css">
        .person-buttons {
            float: right;
        }
    </style>
