﻿@using TIBS.Concurus
<div>
    <form name="createPersonForm" role="form" novalidate class="form-validation">

        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.Project.id" style="color:WindowFrame; font-size:large; font:bold;font-weight:600">@L("EditProject"):<a style="color:#0079CC">{{vm.Project.projectname}}</a></span>
                <span ng-if="!vm.Project.id" style="color:#0079CC; font-size:large; font:bold;font-weight:600">@L("CreateNewProject")</span>
            </h4>
        </div>
        <div class="modal-body">

            
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input type="text" name="ProjectCode" class="form-control" ng-class="{'edited':vm.Project.projectName}" ng-model="vm.Project.projectName">
                    <label>@L("ProjectName")</label>
                </div>
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input class="form-control" type="text" name="ProjectName" ng-class="{'edited':vm.Project.description}" ng-model="vm.Project.description">
                    <label>@L("Description")</label>
                </div>


                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label class="cla">@L("Team")</label>

                    <ui-select ng-model="team.selected"
                               theme="bootstrap"
                               ng-disabled="disabled"
                               reset-search-input="false"
                               style="max-width:100%"
                               title="Choose a Team" ng-required="true">
                        <ui-select-match placeholder="Enter a Team..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.teamName}}</ui-select-match>
                        <ui-select-choices repeat="team in vm.team | propsFilter: {teamName: $select.search}">
                            <div ng-bind-html="team.teamName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                </div>
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label class="cla">@L("Technology")</label>

                    <ui-select ng-model="technology.selected"
                               theme="bootstrap"
                               ng-disabled="disabled"
                               reset-search-input="false"
                               style="max-width:100%"
                               title="Choose a Technology" ng-required="true">
                        <ui-select-match placeholder="Enter a Technology..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.technologyName}}</ui-select-match>
                        <ui-select-choices repeat="technology in vm.technology | propsFilter: {technologyName: $select.search}">
                            <div ng-bind-html="technology.technologyName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                </div>
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label class="cla">@L("Company")</label>

                    <ui-select ng-model="company.selected"
                               theme="bootstrap"
                               ng-disabled="disabled"
                               reset-search-input="false"
                               style="max-width:100%"
                               title="Choose a Company" ng-required="true">
                        <ui-select-match placeholder="Enter a Company..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.companyName}}</ui-select-match>
                        <ui-select-choices repeat="company in vm.company | propsFilter: {companyName: $select.search}">
                            <div ng-bind-html="company.companyName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                </div>
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label class="cla">@L("ProjectType")</label>

                    <ui-select ng-model="projectType.selected"
                               theme="bootstrap"
                               ng-disabled="disabled"
                               reset-search-input="false"
                               style="max-width:100%"
                               title="Choose a ProjectType" ng-required="true">
                        <ui-select-match placeholder="Enter a ProjectType..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.projectTypeName}}</ui-select-match>
                        <ui-select-choices repeat="projectType in vm.projectType | propsFilter: {projectTypeName: $select.search}">
                            <div ng-bind-html="projectType.projectTypeName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                </div>
           


        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>



    </form>
</div>




