﻿@using TIBS.Concurus
<div>
    <form name="createPersonForm" role="form" novalidate class="form-validation">

        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.ProjectTask.id" style="color:#0079CC; font-size:large; font:bold;font-weight:600">@L("EditProjectTask")</span>
                <span ng-if="!vm.ProjectTask.id" style="color:#0079CC; font-size:large; font:bold;font-weight:600">@L("CreateNewProjectTask")</span>
            </h4>
        </div>
        <div class="modal-body">

            <div class="row">


                <div class="col-md-12">


                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" class="form-control" ng-class="{'edited':vm.ProjectTask.taskName}" ng-model="vm.ProjectTask.taskName" ng-required="true">
                        <label>@L("TaskName")</label>
                    </div>

                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label class="cla">@L("Assigned")</label>

                        <ui-select ng-model="assigned.selected"
                                   theme="bootstrap"
                                   ng-disabled="disabled"
                                   reset-search-input="false"
                                   style="max-width:100%"
                                   title="Choose a Assigned User">
                            <ui-select-match placeholder="Enter a Assigned User" style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.userName}}</ui-select-match>
                            <ui-select-choices repeat="assigned in vm.assigned | propsFilter: {userName: $select.search}">
                                <div ng-bind-html="assigned.userName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label class="cla">@L("ProjectBacklog")</label>

                        <ui-select ng-model="projectBacklog.selected"
                                   theme="bootstrap"
                                   ng-disabled="disabled"
                                   reset-search-input="false"
                                   style="max-width:100%"
                                   ng-required="true"
                                   title="Choose a ProjectBacklog">
                            <ui-select-match placeholder="Enter a ProjectBacklog" style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.projectBacklogName}}</ui-select-match>
                            <ui-select-choices repeat="projectBacklog in vm.projectBacklog | propsFilter: {projectBacklogName: $select.search}">
                                <div ng-bind-html="projectBacklog.projectBacklogName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                           
                            <div class="form-group">
                                <label>@L("AlloatedHours")</label>

                                <ui-select ng-model="alloatedhours.selected"
                                           theme="bootstrap"
                                           ng-disabled="disabled"
                                           reset-search-input="false"
                                           style="max-width:100%"
                                           
                                           title="Choose a AlloatedHours">
                                    <ui-select-match placeholder="Enter a AlloatedHours" style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="alloatedHours in vm.AlloatedHours | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="alloatedHours.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                         
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@L("EstimateHours")</label>
                                <ui-select ng-model="estimatehours.selected"
                                           theme="bootstrap"
                                           ng-disabled="disabled"
                                           reset-search-input="false"
                                           style="max-width:100%"
                                           title="Choose a AlloatedHours">
                                    <ui-select-match placeholder="Enter a Estimate Hours" style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="estimatehours in vm.EstimateHours | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="estimatehours.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" class="form-control" ng-class="{'edited':vm.ProjectTask.remarks}" ng-model="vm.ProjectTask.remarks">
                                <label>@L("Remarks")</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" class="form-control" ng-class="{'edited':vm.ProjectTask.actualHours}" ng-model="vm.ProjectTask.actualHours">
                                <label>@L("ActualHours")</label>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
            </div>



    </form>
</div>
<style>
    .modal-dialog {
        width: 65%;
    }
    .ul.datetime-picker-dropdown {
        z-index: 52000!important;
        position: fixed !important;
    }
</style>




