﻿@using TIBS.Concurus
<div>
    <form name="createPersonForm" role="form" novalidate class="form-validation">

        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.ProjectBacklog.id" style="color:#0079CC; font-size:large; font:bold;font-weight:600">@L("EditProjectBacklog")</span>
                <span ng-if="!vm.ProjectBacklog.id" style="color:#0079CC; font-size:large; font:bold;font-weight:600">@L("CreateNewProjectBacklog")</span>
            </h4>
        </div>
        <div class="modal-body">

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" class="form-control" ng-class="{'edited':vm.ProjectBacklog.projectBacklogName}" ng-model="vm.ProjectBacklog.projectBacklogName">
                        <label>@L("ProjectBacklogName")</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label class="cla">@L("BacklogType")</label>

                        <ui-select ng-model="backlogType.selected"
                                   theme="bootstrap"
                                   ng-disabled="disabled"
                                   reset-search-input="false"
                                   style="max-width:100%"
                                   title="Choose a BacklogType">
                            <ui-select-match placeholder="Enter a BacklogType..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.backlogTypeName}}</ui-select-match>
                            <ui-select-choices repeat="backlogType in vm.backlogType | propsFilter: {backlogTypeName: $select.search}">
                                <div ng-bind-html="backlogType.backlogTypeName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label class="cla">@L("BacklogProirity")</label>

                        <ui-select ng-model="backlogProirity.selected"
                                   theme="bootstrap"
                                   ng-disabled="disabled"
                                   reset-search-input="false"
                                   style="max-width:100%"
                                   title="Choose a BacklogProirity" >
                            <ui-select-match placeholder="Enter a BacklogProirity..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.backlogPriorityName}}</ui-select-match>
                            <ui-select-choices repeat="backlogProirity in vm.backlogProirity | propsFilter: {backlogPriorityName: $select.search}">
                                <div ng-bind-html="backlogProirity.backlogPriorityName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label class="cla">@L("BacklogStatus")</label>

                        <ui-select ng-model="backlogStatus.selected"
                                   theme="bootstrap"
                                   ng-disabled="disabled"
                                   reset-search-input="false"
                                   style="max-width:100%"
                                   title="Choose a BacklogStatus">
                            <ui-select-match placeholder="Enter a BacklogStatus..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.backlogStatusName}}</ui-select-match>
                            <ui-select-choices repeat="backlogStatus in vm.backlogStatus | propsFilter: {backlogStatusName: $select.search}">
                                <div ng-bind-html="backlogStatus.backlogStatusName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text"  class="form-control" ng-class="{'edited':vm.ProjectBacklog.where}" ng-model="vm.ProjectBacklog.where">
                        <label>@L("Where")</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" class="form-control" ng-class="{'edited':vm.ProjectBacklog.sprint}" ng-model="vm.ProjectBacklog.sprint">
                        <label>@L("Sprint")</label>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text"  class="form-control" ng-class="{'edited':vm.ProjectBacklog.what}" ng-model="vm.ProjectBacklog.what">
                        <label>@L("What")</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text"  class="form-control" ng-class="{'edited':vm.ProjectBacklog.why}" ng-model="vm.ProjectBacklog.why">
                        <label>@L("Why")</label>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text"  class="form-control" ng-class="{'edited':vm.ProjectBacklog.when}" ng-model="vm.ProjectBacklog.when">
                        <label>@L("When")</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text"  class="form-control" ng-class="{'edited':vm.ProjectBacklog.notes}" ng-model="vm.ProjectBacklog.notes">
                        <label>@L("Notes")</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>



    </form>
</div>
<style>
    .modal-dialog
    {
        width:65%;
    }
</style>




