﻿<div ng-controller="tenant.views.Project.index as vm">

    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold uppercase font-red-sunglo">@L("Project")</span>
                @*<span class="caption-helper">Details...</span>*@
            </div>
            <div class="actions">
                <a class="btn btn-circle btn-icon-only btn-default" ng-if="vm.permissions.createProject" ng-click="vm.openCreateProjectModal()" href="#" data-original-title="" title="">
                    <i class="fa fa-plus font-blue"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="#" data-original-title="" title="Export To Excel" ng-click="vm.exportToExcel()">
                    <i class="fa fa-file-excel-o font-green"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default fullscreen font-purple-studio" href="#" data-original-title="" title="">
                </a>
            </div>
            <div class="clearfix">
            </div>
            <div class="portlet-title">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input">
                        <form>
                            <div class="input-group">
                                <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" ng-keydown="vm.getProject()" ng-keyup="vm.getProject()">
                                <span class="input-group-btn">
                                    <button ng-click="vm.getProject()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="list-group">
                <div class="row">
                    <div class="col-md-4" ng-repeat="project in vm.project">
                        <div class="list-group-item" style="background-color: #EFF3F8;min-height: 300px;margin-bottom: 23px;">
                            <h4 class="list-group-item-heading" style="font-size: xx-large;font-weight: 600;color: sienna;font-family: initial;margin-bottom: 18px;">
                                {{project.projectName}}
                                <span class="person-buttons">
                                    
                                    <a href="javascript:;" ng-if="vm.permissions.editProject" ng-click="vm.editProject(project)" style="font-size: 9px !important; margin-left: -5px !important; padding: 5px 5px 5px 5px; " class="btn btn-outline btn-circle btn-sm blue">
                                        <i class="fa fa-edit"></i>@L("Edit")
                                    </a>
                                    
                                    <a href="javascript:;" ng-if="vm.permissions.deleteProject" ng-click="vm.deleteProject(project)" style="font-size: 9px !important; margin-left: -5px !important; padding: 5px 5px 5px 5px; " class="btn btn-outline btn-circle btn-sm red">
                                        <i class="fa fa-trash-o"></i>@L("Delete")
                                    </a>
                                    
                                </span>
                            </h4>
                            <span ng-repeat="photo in project.projectEmployeePhotoPath">
                                <img src="{{photo.data}}" class="img-circle" style="width:60px;height:60px;margin: 3px 2px 5px" tooltip="Name: {{photo.userName}}   Role Name: {{photo.userRole}}" title="{{photo.userName}}" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .person-buttons {
        float: right;
    }
</style>

