﻿@using Abp.Timing
<!-- BEGIN PAGE CONTENT-->
<div ng-controller="tenant.views.Project.ProjectChecklist as vm">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN TODO SIDEBAR -->
            <div class="todo-ui">

                <!-- END TODO SIDEBAR -->
                <!-- BEGIN TODO CONTENT -->
                <div class="todo-content">
                    <div class="portlet light">
                        <!-- PROJECT HEAD -->
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-bar-chart font-green hide"></i>
                                <span class="caption-helper">PROJECT:</span> &nbsp;
                                <span class="caption-subject font-green bold uppercase">{{vm.ProjectName }}</span>
                            </div>

                        </div>
                        <!-- end PROJECT HEAD -->
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-5 col-sm-4">
                                    <div style="min-height: 600px;">
                                        <div class="todo-tasklist">

                                            <div ng-repeat="projectchecklist in vm.ProjectCheckList" class="todo-tasklist-item todo-tasklist-item-border-green">
                                                <i ng-if="projectchecklist.projectImportant" style="float: right; " class="fa fa-star font-yellow"></i>
                                                <i ng-if="!projectchecklist.projectImportant" style="float: right;" class="fa fa-star-o" ng-click="vm.makeImportant(projectchecklist)"></i>
                                                <div ng-click="vm.init(projectchecklist)">
                                                    <img class="todo-userpic pull-left" src="/Profile/GetProfilePictureById?id={{projectchecklist.photoPath}}" width="30px" height="30px">
                                                    <div class="todo-tasklist-item-title"> {{projectchecklist.userName}} </div>
                                                    <div class="todo-tasklist-item-text"> {{projectchecklist.description}} </div>
                                                    <div class="todo-tasklist-controls pull-left">
                                                        <span class="todo-tasklist-date">
                                                            <i class="fa fa-calendar"></i> {{projectchecklist.postedTime}}
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="todo-tasklist-devider"> </div>
                                <div class="col-md-7 col-sm-8">
                                    <div style="min-height: 600px;">
                                        <form class="form-horizontal">
                                            <!-- TASK HEAD -->
                                            <div class="form">
                                                <div class="form-group">
                                                    <div class="col-md-8 col-sm-8">
                                                        <div class="todo-taskbody-user">
                                                            <img id="HeaderProfilePicture" alt="" class="img-circle" style="width:50px;height:50px" src="@Url.Action("GetProfilePicture", "Profile")?t=@Clock.Now.Ticks.ToString()" />
                                                            <span class="todo-username pull-left">{{vm.getShownUserName()}}</span>
                                                            @*<button type="button" class="todo-username-btn btn btn-circle btn-default btn-xs">&nbsp;edit&nbsp;</button>*@
                                                        </div>
                                                    </div>
                                                    @*<div class="col-md-4 col-sm-4">
                                                            <div class="todo-taskbody-date pull-right">
                                                                <button type="button" class="todo-username-btn btn btn-circle btn-default btn-xs">&nbsp; Complete &nbsp;</button>
                                                            </div>
                                                        </div>*@
                                                </div>
                                                <!-- END TASK HEAD -->
                                                <!-- TASK TITLE -->
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="text" ng-model="vm.projectchecklist.factor" class="form-control todo-taskbody-tasktitle" placeholder="Factor...">
                                                    </div>
                                                </div>
                                                <!-- TASK DESC -->
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <textarea class="form-control todo-taskbody-taskdesc" ng-model="vm.projectchecklist.description" rows="8" placeholder="Description..."></textarea>
                                                    </div>
                                                </div>
                                                <!-- END TASK DESC -->
                                                <!-- TASK DUE DATE -->
                                                <!-- TASK TAGS -->
                                                <div class="form-actions right todo-form-actions">
                                                    <button class="btn btn-circle btn-sm green" ng-click="vm.save()">Save Changes</button>
                                                    <button class="btn btn-circle btn-sm btn-default">Cancel</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END TODO CONTENT -->
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
    <!-- END PAGE CONTENT-->
    @*<script>
        AppTodo2.init(); // init todo page
    </script>*@
