﻿<div ng-controller="tenant.views.Project.Projectbacklog as vm">
    <div class="row margin-bottom-5">
        @*<div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("Projectbacklog")</span>
                        </h1>
                    </div>
                </div>
            </div>*@
        @*<div class="col-xs-6 text-right">
                <button class="btn btn-primary blue" ng-click="vm.openCreateProjectbacklogModal()"><i class="fa fa-plus"></i> @L("CreateNewProjectbacklog")</button>
            </div>*@
    </div>
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold uppercase font-red-sunglo">@L("Projectbacklog")</span>
                @*<span class="caption-helper">Details...</span>*@
            </div>
            <div class="actions">
                <a class="btn btn-circle btn-icon-only btn-default" ng-if="vm.permissions.createProjectBacklog" ng-click="vm.openCreateProjectbacklogModal()" href="#" data-original-title="" title="">
                    <i class="fa fa-plus font-blue"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="#" data-original-title="" title="Export To Excel" ng-click="vm.exportToExcel()">
                    <i class="fa fa-file-excel-o font-green"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default fullscreen font-purple-studio" href="#" data-original-title="" title="">
                </a>
            </div>
            <div class="clearfix">
            </div>
            <div class="portlet-title">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input">
                        <form>
                            <div class="input-group">
                                <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" ng-keydown="vm.getProjectbacklog()" ng-keyup="vm.getProjectbacklog()">
                                <span class="input-group-btn">
                                    <button ng-click="vm.getProjectbacklog()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.ProjectbacklogGridOptions"  ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize ui-grid-edit ui-grid-cellnav></div>
            </div>
        </div>
    </div>
</div>
<style>

    .test {
        background-color: aliceblue !important;
    }
</style>