﻿@using Abp.Timing

<!-- BEGIN PAGE CONTENT-->
<div class="row" ng-controller="tenant.views.Project.ProjectDetails as vm">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
                <i style="float: right; margin-right: 10px; font-size: 25px " ng-click="vm.childmethod()" class="fa fa-star font-yellow"></i>
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                  
                    <img  src="@Url.Content("~/Common/Images/project.jpg")" class="img-responsive" />
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{vm.Project.projectName}} 
                    </div>
                   
                </div>
               
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li ng-if="vm.permissions.Projectedit" ng-class="{active:$state.includes('ProjectdetailsforEdit.information')}">
                            <a ng-if="vm.permissions.Projectedit" ui-sref="ProjectdetailsforEdit.information">
                                <i class="icon-home"></i>
                                Project Overview
                            </a>
                        </li>
                        <li ng-if="vm.permissions.projectbacklog" ng-class="{active:$state.includes('ProjectdetailsforEdit.projectbacklog')}">
                            <a ui-sref="ProjectdetailsforEdit.projectbacklog">
                                <i class="fa fa-cubes"></i>
                                Project Backlog
                            </a>
                        </li>
                        <li ng-if="vm.permissions.projectTask" ng-class=" {active:$state.includes('projectdetailsforedit.projecttask')}">
                            <a ui-sref="ProjectdetailsforEdit.projectTask">
                                <i class="fa fa-cube"></i>
                                Project Task
                            </a>
                        </li>
                        <li  ng-class=" {active:$state.includes('projectdetailsforedit.checklist')}">
                            <a ui-sref="ProjectdetailsforEdit.checklist">
                                <i class="fa fa-info-circle"></i>
                                Check List
                            </a>
                        </li>
                        
                        
                        

                    </ul>
                </div>
                <!-- END MENU -->
            </div>
           
        </div>
       
        <div ui-view class="profile-content fade-in-up">
        </div>
       
    </div>
</div>
