﻿<div ng-controller="tenant.views.Project.ProjectDetails as vm">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                    </div>
                   
                </div>
                <div class="portlet-body">
                    
                            <form role="form" action="#">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input type="text" name="ProjectCode" class="form-control" ng-class="{'edited':vm.Project.projectName}" ng-model="vm.Project.projectName">
                                            <label>@L("ProjectName")</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <input class="form-control" type="text" name="ProjectName" ng-class="{'edited':vm.Project.description}" ng-model="vm.Project.description">
                                            <label>@L("Description")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <label class="cla">@L("Team")</label>

                                            <ui-select ng-model="team.selected"
                                                       theme="bootstrap"
                                                       ng-disabled="disabled"
                                                       reset-search-input="false"
                                                       style="max-width:100%"
                                                       title="Choose a Team" ng-required="true">
                                                <ui-select-match placeholder="Enter a Team..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.teamName}}</ui-select-match>
                                                <ui-select-choices repeat="team in vm.team | propsFilter: {teamName: $select.search}">
                                                    <div ng-bind-html="team.teamName | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <label class="cla">@L("Technology")</label>

                                            <ui-select ng-model="technology.selected"
                                                       theme="bootstrap"
                                                       ng-disabled="disabled"
                                                       reset-search-input="false"
                                                       style="max-width:100%"
                                                       title="Choose a Technology" ng-required="true">
                                                <ui-select-match placeholder="Enter a Technology..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.technologyName}}</ui-select-match>
                                                <ui-select-choices repeat="technology in vm.technology | propsFilter: {technologyName: $select.search}">
                                                    <div ng-bind-html="technology.technologyName | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                    </div>
                                   
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <label class="cla">@L("Company")</label>

                                            <ui-select ng-model="company.selected"
                                                       theme="bootstrap"
                                                       ng-disabled="disabled"
                                                       reset-search-input="false"
                                                       style="max-width:100%"
                                                       title="Choose a Company" ng-required="true">
                                                <ui-select-match placeholder="Enter a Company..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.companyName}}</ui-select-match>
                                                <ui-select-choices repeat="company in vm.company | propsFilter: {companyName: $select.search}">
                                                    <div ng-bind-html="company.companyName | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <label class="cla">@L("ProjectType")</label>

                                            <ui-select ng-model="projectType.selected"
                                                       theme="bootstrap"
                                                       ng-disabled="disabled"
                                                       reset-search-input="false"
                                                       style="max-width:100%"
                                                       title="Choose a ProjectType" ng-required="true">
                                                <ui-select-match placeholder="Enter a ProjectType..." style="font-size: 11px;border: 1px solid #DDDDDD;border-radius: 5px;padding-left: 4px;">{{$select.selected.projectTypeName}}</ui-select-match>
                                                <ui-select-choices repeat="projectType in vm.projectType | propsFilter: {projectTypeName: $select.search}">
                                                    <div ng-bind-html="projectType.projectTypeName | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                    </div>
                                </div>
                              
                                <div class="modal-footer">
                                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPersonForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                                </div>

                            </form>
                        
                       

                    </div>
                   


                </div>
            </div>
        </div>
    </div>
