@using TIBS.Concurus.Locationn;
@using TIBS.Concurus;
<div>
    <form name="cityCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.location.id" style="color:WindowFrame; font-size:large; font:bold;font-weight:600">@L("EditLocation"):<a style="color:#0079CC">{{vm.location.locationName}}</a></span>
                <span ng-if="!vm.location.id" style="color:#0079CC; font-size:large; font:bold;font-weight:600">@L("CreateNewLocation")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="text" name="LocationCode" class="form-control" ng-class="{'edited':vm.location.locationCode}" ng-model="vm.location.locationCode" required maxlength="@Location.CodeLength">
                <label>@L("LocationCode")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="LocationName" ng-class="{'edited':vm.location.locationName}" ng-model="vm.location.locationName" required maxlength="@Location.NameLength">
                <label>@L("LocationName")</label>
            </div>
            

            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label class="cla">@L("City")</label>
                <div class="claa">
                    @*<p>Selected: {{city.selected}}</p>*@
                    <ui-select ng-model="city.selected" theme="select2" ng-disabled="disabled" style="min-width: 300px;max-width:100%" title="Choose a City" ng-required="true">
                        <ui-select-match placeholder="Select a city in the list or search it's' name...">{{$select.selected.cityName}}</ui-select-match>
                        <ui-select-choices repeat="city in vm.city | propsFilter: {cityName: $select.search}">
                            <div ng-bind-html="city.cityName | highlight: $select.search"></div>
                            <small>
                                <span ng-bind-html="''+city.countryName | highlight: $select.search"></span>
                                @*age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>*@
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="cityCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>

<style type="text/css">
    .cla{
        display: block;
        color: #999;
        font-size: 16px; 
    }
    .claa{
          border-bottom: 1px solid #999;
          padding-bottom: 10px;
    }
</style>