﻿<div ng-controller="tenant.views.Geography.Location.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span style="color: #0079CC;font-size:xx-large;font:bolder">@L("Location")</span>
                        @*<small>@L("LanguageTextsHeaderInfo")</small>*@
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <small class="caption-subject bold font-red-sunglo">Manage Location and Actions</small>
            </div>
            <div class="actions">
                <a class="btn btn-circle btn-icon-only btn-default" ng-if="vm.permissions.createLocation" ng-click="vm.openCreateLocationModal()" href="#" data-original-title="" title="Create Location">
                    <i class="fa fa-plus"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default"  href="#" data-original-title="" title="Export To Excel" ng-click="vm.exportToExcel()">
                    <i class="fa fa-file-excel-o"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title="">
                </a>
            </div>
            <div class="clearfix">
            </div>
            <div class="portlet-title">
                <div class="inputs inputs-full-width">
                    <div class="portlet-input">
                        <form>
                            <div class="input-group">
                                <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" ng-keydown="vm.getLocation()" ng-keyup="vm.getLocation()">
                                <span class="input-group-btn">
                                    <button ng-click="vm.getLocation()" class="btn default" type="submit"><i class="icon-refresh"></i>@L("Search")</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.LocationGridOptions" ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize ui-grid-move-columns></div>
            </div>
        </div>
    </div>
</div>